// Colors
$grey: #dddddd;

// Spacing
$space: 1.4rem;

// Boxed View
$Boxed-view-overlay-bg: $grey;
$Boxed-view-bg:whitesmoke;

// Font sizes
$Base-font-size: 1.4rem;

// Form inputs
$Input-border: $grey;
$Input-spacing: 1rem;

// Button
$Button-bg: #5b4681;
$Button-color: white;
$Button-pill-color: #5b4681;