.button {
    background-color: $Button-bg;
    border: none;
    color: $Button-color;
    cursor: pointer;
    padding: $Input-spacing;
    text-transform: uppercase;
    font-size: $Base-font-size;
    margin-bottom: $space;
    line-height: 1.2;
}

.button--secondary {
    background: $Button-secondary-bg;
    border: 1px solid $Button-secondary-border-color;
    color: $Button-pill-color;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $Button-pill-color;
    color: $Button-pill-color;
    padding: .3rem .8rem;
}

.button--link-text {
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: none;
}